.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
  &--no-padding {
    padding-top: 94px;
    padding-bottom: 0;
  }
  &--background-color {
    background-color: var(--team-background-color);
  }
  &-title {
    margin-top: 0;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    &--indent {
      margin-bottom: 50px;
    }
  }
}
